/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 3rd/bootstrap-social
 */
@import 'bootstrap';


label.error{
  color: #ef0000;
}

@font-face {
  font-family: 'simplifica';
  src: url('/assets/OpenSans-Regular-webfont.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;

}

body{
  font-family: 'simplifica';
}

h1, h2{
  font-family: 'simplifica' !important;
  text-align: center !important;
  color: white;
}
