<!DOCTYPE html>
<html>
<head>
  <title>WeixinRailsMiddlewareExample</title>
  <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
</head>
<body style="background-color: #eee;">

<%= yield %>

</body>
</html>
